.bg-sidebar{
    background-color: #F2F2F2;
    width: 290px;
    height: 667px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px  rgba(128, 128, 128, 0.542);

}


.bg-right-sidebar{
    background-color: #F2F2F2;
    width: 250px;
    height: 550px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px  rgba(128, 128, 128, 0.542);

}