.bg-sidebar{
    background-color: #F2F2F2;
    width: 290px;
    height: 667px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px  rgba(128, 128, 128, 0.542);

}


.bg-right-sidebar{
    background-color: #F2F2F2;
    width: 250px;
    height: 550px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px  rgba(128, 128, 128, 0.542);

}

.sidebar-a {
    text-decoration: none;
  
    font-size: 16px;
    gap: 5px;
    padding-left: 14px;
   

}

.mt-2{
    margin-top: 6px;
}


.sm-link{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 13px;
    padding-left: 50px;


}
