
.details-bg{
    background-color: #E6F7FF;
    
}


.edite-link{
    font-size: 13px;
    text-decoration: none;
    font-weight: bolder;
}


.margin-right{
    margin-right: 10px;
    width: 50%;
}